<!-- bs5.html is only good for 4.0+ -->
<!-- Will need a lot of additional work to translate this to bs5 for 4.0, missing some things-->
{% extends 'allianceauth/base.html' %}
{#% extends 'allianceauth/base-bs5.html' %#}
{% load i18n %}

{% block page_title %}{% translate "WHC Applications" %}{% endblock %}

{% block content %}
    <div class="whctools">
        <h1 class="page-header text-center">{% translate "WHC Applications" %}</h1>

        {% block details %}{% endblock %}
    </div>
{% endblock %}

{% block extra_css %}
<style>
    .whctools-table > tbody > tr {
        border-top: solid 1px #797777;
    }

    .whctools-table > thead > tr {
        background-color: rgb(64,69,75);
    }

    .whctools-table > :is(thead,tbody) > tr > :is(th,td) {
        vertical-align:middle !important;
    }

    .whctools-table-staff > :is(thead,tbody) > tr > :is(th,td) {
        padding: 3px 8px 3px 8px;
    }

    .whctools-alt-row {
        display: none;
    }
    /*.whctools-main-row:hover {
        background-color: rgb(64,69,75);
    }*/

    .whctools-error-row {
        background-color: rgb(213, 67, 62);
    }
    .whctools-error-row:hover {
        background-color: rgb(217, 83, 79);
    }

    .media {
        overflow: hidden;
        zoom: 1;
        outline: solid #375a7f 1px;
        border-radius: 3px;
    }

    .whcbutton {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-tabs > li > a:hover {
        border-color: #375a7f;
        background: #375a7f;
    }

    img {
        max-width: none;
        margin: 5px
    }

    .panel {
        margin-bottom: 10px; /* down from 20px */
    }

    .whcpanel {
        border-top-left-radius: 0px
    }

    .whctools-warning {
        color: #e89052;
    }
    .panel-warning {
        border-color: #e89052;
        background-color: rgb(64,69,75);
    }

    .whctools-error {
        color: #dd3820;
    }

    .whctools-good {
        color: #37d158;
    }

    img.whctools-image-disabled-class {
        filter: grayscale(100%);
    }

    .whctools-alt-tag {
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        width: 75px;
        white-space: nowrap;
        font-size: 0.6em;
    }

    .whctools-skillcheck-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        background-color: rgb(39,43,48);
        border-radius: 20px;
    }

    .whctools-mail-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        background-color: rgb(39,43,48);
        border-radius: 20px;
    }

    .whctools-mail-popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .whctools-skillcheck-popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    /* The modal (background) */
    .whctools-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal content */
    .whctools-modal-content {
        background-color: rgb(39,43,48);
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
    }

    /* Scrollable text box */
    .whctools-scrollable-textbox {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: rgb(122,130,136);
        color: black;
    }

    /* The close button */
    .whctools-scrollable-textbox-close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

    }

    .whctools-scrollable-textbox-close:hover,
    .whctools-scrollable-textbox-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .locked-cursor { cursor: wait !important; }
</style>
{% endblock %}
