{% extends 'whctools/base.html' %}
{% load i18n %}
{% load humanize %}
{% csrf_token %}

{% block details %}
{% include 'whctools/staff/nav_pills.html' %}

<div class="tab-content">
    <div id="staff" class="whcpanel panel panel-primary tab-pane active">
        <div class="whcpanel panel-heading">
            <h3 class="panel-title">Staff: {{ page }}</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">
            {% block staff_page %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Function to handle Accept button click
    function handleAcceptClick(event) {
        event.preventDefault();

        // Find the corresponding dropdown and character ID
        const button = event.target;
        const row = button.closest('tr');
        const dropdown = row.querySelector('.acl-dropdown');
        const selectedAcl = dropdown.value;
        const characterId = dropdown.getAttribute('data-character-id');

        // Construct the URL
        const url = `/whctools/staff/action/${characterId}/accept/${selectedAcl}`;

        // Redirect to the constructed URL
        window.location.href = url;
    }

    // Attach event listener to all Accept buttons
    const acceptButtons = document.querySelectorAll('.accept-button');
    acceptButtons.forEach(button => {
        button.addEventListener('click', handleAcceptClick);
    });
});

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function showPopup(characterId, callback) {
        $.ajax({
            url: `/whctools/staff/getSkills/${characterId}`,
            success: function(data) {
                console.log('Received data:', data); // Log the received data

                if (data.alt_data) {
                    // Build the popup content with the data
                    var content = '<h3>Skill Set Checks for <u>' + data.applying_character + '</u> related characters</h3>';
                    content += '<table class="table"><tr class="whctools-tr"><th>Character Name</th><th>Skills Updated</th>';

                    // Get the keys from the first skill set to create the table headers
                    var firstAlt = Object.keys(data.alt_data)[0]
                    if (firstAlt) {
                        var skillKeys = Object.keys(data.alt_data[firstAlt][1]);
                        skillKeys.forEach(function(skillset) {
                            content += '<th>' + skillset + '</th>';
                        });
                    }

                    content += '</tr>';
                    $.each(data.alt_data, function(alt_name, alt_data) {
                        last_update = alt_data[0]
                        skill_sets = alt_data[1]
                        content += '<tr><td>' + alt_name + '</td>';
                        content += '<td>' + last_update + '</td>';
                        $.each(skill_sets, function(skillset__name, skillset_check) {
                            content += '<td style="text-align: center;"><i class="' + (skillset_check ? 'fas fa-check' : 'fas fa-times') + '" style="color: ' + (skillset_check ? 'green' : 'red') + ';"></i></td>';
                        });
                        content += '</tr>';
                    });
                    content += '</table>';
                    // Insert the returned content into the popup container
                    $('#skill-popup-data').html(content);
                    // Display the popup
                    $('#popup-container').show();
                } else {
                    console.error('Data is not in the expected format:', data);
                }

                if (typeof callback === 'function') {
                    callback();
                }
            },

            error: function() {
                // Re-enable the button and remove the spinner cursor if the AJAX request fails
                if (typeof callback === 'function') {
                    callback();
                }
            }
        });
    }

    function showMailEdit(callback) {
        $.ajax({
            url: `/whctools/staff/getMail`,
            success: function(data) {
                if (data.mail) {
                    // Build the popup content with the data
                    var content = '<h3>Update Mail Message</h3>';
                    content += '<textarea id="mail-textarea" style="width: 50vw; height: 50vh;">'
                    + data.mail
                    + '</textarea>';
                    content += '<br><br>';
                    content += '<button id="submit-mail-btn" class="btn btn-primary">Submit</button>';
                    content += '<button id="cancel-mail-btn" class="btn btn-secondary closeMailPopup" style="margin-left: 10px;">Cancel</button>';

                    // Insert the content into the popup
                    $('#mail-popup-data').html(content);

                    // Display the popup
                    $('#popup-container-mail').show();

                } else {
                    console.error('Data is not in the expected format:', data);
                }

                if (typeof callback === 'function') {
                    callback();
                }
            },

            error: function() {
                // Re-enable the button and remove the spinner cursor if the AJAX request fails
                if (typeof callback === 'function') {
                    callback();
                }

            }
        });
    }

    function closePopup() {
        $('#popup-container').hide();
    }

    function closeMailPopup() {
        $('#popup-container-mail').hide();
    }

    $(document).ready(function() {
        $('.openSkillcheckPopup').click(function() {
            var button = $(this);
            var characterId = button.data('character-id');

            // Disable the button and change cursor to spinner
            button.prop('disabled', true);
            $('body').addClass('locked-cursor');

            showPopup(characterId, function() {
                // Re-enable the button and remove spinner cursor after the popup content is loaded
                button.prop('disabled', false);
                $('body').removeClass('locked-cursor');
            });
        });
    });

    $(document).ready(function() {
        $('.closeSkillcheckPopup').click(function() {
            closePopup();
        });
    });

    $(document).ready(function() {
        $('.openMailPopup').click(function() {
            var button = $(this);

            // Disable the button and change cursor to spinner
            button.prop('disabled', true);
            $('body').addClass('locked-cursor');

            showMailEdit(function() {
                // Re-enable the button and remove spinner cursor after the popup content is loaded
                button.prop('disabled', false);
                $('body').removeClass('locked-cursor');
            });
        });
    });



    $(document).on('click', '#submit-mail-btn', function() {
        var newMailContent = $('#mail-textarea').val();
        var payload = { "mail": newMailContent };

        $.ajax({
            url: '/whctools/staff/updateMail',
            type: 'POST',
            data: JSON.stringify(payload),
            contentType: 'application/json; charset=utf-8',

            success: function(response) {
                closeMailPopup();
            },
            error: function(xhr, status, error) {
                console.error('Error updating mail:', error);
            }
        });
    });

    $(document).on('click', '#cancel-mail-btn', function() {
        closeMailPopup();
    });


</script>
{% endblock %}
