
{% extends 'whctools/base.html' %}
{% load l10n %}
{% load i18n %}
{% load humanize %}

{% block details %}
{% include 'whctools/staff/nav_pills.html' %}

<div class="tab-content">
    <div id="staff" class="whcpanel panel panel-primary tab-pane active">
        <div class="whcpanel panel-heading">
            <h3 class="panel-title">Members of the {{ acl_name }} ACL list</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">

            {% comment %} @@@ Probably would be better to move this into individual files {% endcomment %}
            <ul class="nav nav-pills">
                <li {% if not date_selected %} class="active" {% endif %}><a data-toggle="pill" href="#all_members">All Members</a></li>
                <li {% if date_selected %} class="active" {% endif %}><a data-toggle="pill" href="#after_date">Filter After</a></li>
                <li class="pull-right">
                    <button id="copyAclListButton" class="btn btn-primary">Copy ACL List</button>
                </li>
                {% comment %}
                <li class="pull-right">
                    <a id="syncAclGroups" class="btn btn-primary"
                            href="/whctools/staff/{{ acl_name }}/sync_groups_with_acl">
                        Sync Auth groups with this ACL
                    </a>
                </li>
                {% endcomment %}
              </ul>
            <div class="tab-content">
                <div id="all_members" class="panel panel-default tab-pane {% if not date_selected %} active {% endif %}">
                    <h1>All Known Members of {{ acl_name }} Access Control List</h1>
                    <p> The following charcters are known to have acces to the ACl {{ acl_name }} - This list should be considered the truth, and if the ACL in game differs it should be adjusted to match this list!</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% comment %}Alt indicator column{% endcomment %}</th>
                                <th>Portrait</th>
                                <th>Character</th>
                                <th>Alt</th>
                                <th>Corp</th>
                                <th>Alliance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for orphan in orphans %}
                            <tr class="whctools-main-row whctools-error-row" data-member-id="">
                                <td></td>
                                <td><img src="{{ orphan.portrait_url }}" alt="{{ orphan.character_name }}"></td>
                                <td>{{orphan.character_name}}</td>
                                <td><b>No main found</b></td>
                                <td>{{orphan.corporation_name}}</td>
                                <td>{{orphan.alliance_name}}</td>
                                <td><a href="/whctools/staff/action/{{orphan.character_id}}/reject/other/{{reject_timers.medium_reject}}/acl" class="whcbutton btn btn-warning" role="button" id="remove-alt">Remove Character</a></td>
                            </tr>
                            {% endfor %}
                            {% for member in members %}
                            <tr class="whctools-main-row" data-member-id="{{ member.main.character_id }}">
                                {% with member.alts|length as alts_length %}
                                    <td>{% if alts_length > 0 %}<i class="alt-caret fas fa-solid fa-caret-right"></i>{% endif %}</td>
                                {% endwith %}
                                <td><img src="{{ member.main.portrait_url }}" alt="{{ member.main.name }}"></td>
                                <td>{{member.main.name}}</td>
                                <td><i>Main</i></td>
                                <td>{{member.main.corp}}</td>
                                <td>{{member.main.alliance}}</td>
                                <td>
                                    <a href="/whctools/staff/action/{{member.main.character_id}}/reject/removed/{{reject_timers.large_reject}}/acl" class="whcbutton btn btn-danger" role="button" id="kick-all">Kick All</a>
                                </td>
                            </tr>
                            {% for alt in member.alts %}
                            <tr class="whctools-alt-row" data-parent-id="{{ member.main.character_id }}" style="display:none;">
                                <td>⤷</td>
                                <td><img src="{{ alt.portrait_url }}" alt="{{ alt.name }}"></td>
                                <td><div class="whctools-alt-tag whctools-green-bg">Member</div></td>
                                <td>{{alt.name}}</td>
                                <td>{{alt.corp}}</td>
                                <td>{{alt.alliance}}</td>
                                <td><a href="/whctools/staff/action/{{alt.character_id}}/reject/other/{{reject_timers.medium_reject}}/acl" class="whcbutton btn btn-warning" role="button" id="remove-alt">Remove Alt</a></td>
                            </tr>
                            {% endfor %}
                            {% for alt in member.complete_alts %}
                            <tr class="whc-alt-row" data-parent-id="{{ member.main.character_id }}" style="display:none;">
                                <td>⤷</td>
                                <td><img src="{{ alt.portrait_url }}" alt="{{ alt.name }}"></td>
                                <td><div class="whctools-alt-tag whctools-red-bg">NOT ON ACL</div></td>
                                <td>{{alt.name}}</td>
                                <td>{{alt.corp}}</td>
                                <td>{{alt.alliance}}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="after_date" class="panel panel-default tab-pane {% if date_selected %} active {% endif %}">
                    <form method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="{{ acl_history_request.date_of_change.id_for_label }}">Made On</label>
                            {{ acl_history_request.date_of_change }}
                            {% if acl_history_request.date_of_change.errors %}
                                <div class="text-danger">
                                    {{ acl_history_request.date_of_change.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Get History</button>
                    </form>
                {% if date_selected %}
                    <table class="table">
                        <tr>
                            <th>Time Last Changed</th>
                            <th>Portrait</th>
                            <th>Name</th>
                            <th>Last State</th>
                            <th>Reason for Change</th>
                            <th>Action To Take</th>

                        </tr>
                        {% for member in acl_changes %}
                        <tr>
                            <td> {{member.date}}
                            <td> <img src="{{ member.portrait_url }}" alt="{{ member.name }}"> </td>
                            <td> {{member.name}} </td>
                            <td> {{member.state}} </td>
                            <td> {{member.reason}} </td>
                            <td><div class="whctools-acl-change {% if member.action == 'Remove' %} whctools-red-bg {% else %} whctools-green-bg{% endif %}" > {{member.action}} </div></td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>

{% comment %} raw text of acl dump popup {% endcomment %}
<div id="copyAclListModal" class="whctools-modal">
    <div class="whctools-modal-content">
        <span class="whctools-scrollable-textbox-close">&times;</span>
        <h2>Copy {{ acl_name }} ACL List</h2>
        <div class="whctools-scrollable-textbox">
            <p>{{ raw_acl_copy_text|linebreaksbr }}</p>
        </div>
        <button id="copyToClipboardButton" class="btn btn-primary">Copy to Clipboard</button>
    </div>
</div>


{% endblock %}

{% block extra_javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Toggle alt rows
        var mainRows = document.querySelectorAll('.whctools-main-row');
        mainRows.forEach(function(row) {
            row.addEventListener('click', function() {
                var memberId = row.getAttribute('data-member-id');
                var showAlts = row.getAttribute('show-alts');
                var caretIcon = document.querySelector('.whctools-main-row[data-member-id="' + memberId + '"] td i.alt-caret');
                var altRows = document.querySelectorAll('.whctools-alt-row[data-parent-id="' + memberId + '"]');
                if( altRows.length>0 ) {
                    if( showAlts ) {
                        row.removeAttribute('show-alts');
                        caretIcon.classList.add('fa-caret-right');
                        caretIcon.classList.remove('fa-caret-down');
                        altRows.forEach(function(altRow) { altRow.style.display = 'none'; });
                    } else {
                        row.setAttribute('show-alts', true);
                        caretIcon.classList.remove('fa-caret-right');
                        caretIcon.classList.add('fa-caret-down');
                        altRows.forEach(function(altRow) { altRow.style.display = 'table-row'; });
                    }
                }
            });
        });

        // Modal functionality
        var modal = document.getElementById("copyAclListModal");
        var btn = document.getElementById("copyAclListButton");
        var span = document.getElementsByClassName("whctools-scrollable-textbox-close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        // Copy to Clipboard functionality
        var copyButton = document.getElementById("copyToClipboardButton");
        copyButton.addEventListener('click', function() {
            var textToCopy = document.querySelector('.whctools-scrollable-textbox').innerText;

            navigator.clipboard.writeText(textToCopy).then(function() {
                console.log('Text copied to clipboard');
                alert('Text copied to clipboard');
            }).catch(function(err) {
                console.error('Could not copy text: ', err);
                alert('Failed to copy text to clipboard');
            });
        });
    });

    var kickAllButtons = document.querySelectorAll('#kick-all');
    kickAllButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default action (navigation)
            var confirmAction = confirm("Are you sure you want to kick all members?");
            if (confirmAction) {
                window.location.href = button.getAttribute('href'); // Proceed with the action
            }
        });
    });

    var removeAltButtons = document.querySelectorAll('#remove-alt');
        removeAltButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default action (navigation)
                var confirmAction = confirm("Are you sure you want to remove this alt?");
                if (confirmAction) {
                    window.location.href = button.getAttribute('href'); // Proceed with the action
                }
            });
        });

</script>
{% endblock %}

{% block extra_script %}
{% endblock %}
