
{% extends 'whctools/base.html' %}
{% load l10n %}
{% load i18n %}
{% load humanize %}

{% block details %}
{% include 'whctools/staff/nav_pills.html' %}

<div class="tab-content">
    <div id="staff" class="whcpanel panel panel-primary tab-pane active">
        <div class="whcpanel panel-heading">
            <h3 class="panel-title">Members of the {{ acl_name }} ACL list</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">

            {% comment %} @@@ Probably would be better to move this into individual files {% endcomment %}
            <ul class="nav nav-pills">
                <li {% if not date_selected %} class="active" {% endif %}><a data-toggle="pill" href="#all_members">All Members</a></li>
                <li {% if date_selected %} class="active" {% endif %}><a data-toggle="pill" href="#after_date">Filter After</a></li>
                <li class="pull-right">
                    <button id="copyAclListButton" class="btn btn-primary">Copy ACL List</button>
                </li>
              </ul>
            <div class="tab-content">
                <div id="all_members" class="panel panel-default tab-pane {% if not date_selected %} active {% endif %}">
                    <h1>All Known Members of {{ acl_name }} Access Control List</h1>
                    <p> The following charcters are known to have acces to the ACl {{ acl_name }} - This list should be considered the truth, and if the ACL in game differs it should be adjusted to match this list!</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 3%">Portrait</th>
                                <th style="width: 15%;">Character</th>
                                <th style="width: 5%;">Alt</th>
                                <th style="width: 12%;">Corp</th>
                                <th style="width: 12%;">Alliance</th>
                                <th style="width: 10%;">Actions</th>
                                <th style="width: 3%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                            <tr class="whctools-main-row" data-member-id="{{ member.main.character_id }}">
                                <td><img src="{{ member.main.portrait_url }}" alt="{{ member.main.name }}"></td>
                                <td>{{member.main.name}}</td>
                                {% if member.main.is_on_acl %}
                                <td><i>Main</i></td>
                                {% else %}
                                <td><div class="whctools-alt-tag whctools-red-bg">MAIN NOT ON ACL</div>
                                {% if member.alts|length != 0  %}
                                <br><span style="font-size: 80%;">Has Alts still on ACL</span><br>
                                {% endif %}
                                </td>
                                {% endif %}
                                <td>{{member.main.corp}}</td>
                                <td>{{member.main.alliance}}</td>
                                <td>
                                    <a href="/whctools/staff/action/{{member.main.character_id}}/reject/removed/{{reject_timers.large_reject}}/acl" class="whcbutton btn btn-danger" role="button" id="kick-all">Kick All</a>
                                </td>
                                <td>
                                {% if member.alts|length != 0  %}
                                <i class="fa-solid fa-angles-down"></i>
                                {% endif %}
                                </td>
                            </tr>
                            {% for alt in member.alts %}
                            <tr class="whctools-alt-row" data-parent-id="{{ member.main.character_id }}" style="display:none;">
                                <td>⤷ <img src="{{ alt.portrait_url }}" alt="{{ alt.name }}"></td>
                                <td><div class="whctools-alt-tag whctools-green-bg">Member</div></td>
                                <td>{{alt.name}}</td>
                                <td>{{alt.corp}}</td>
                                <td>{{alt.alliance}}</td>
                                <td><a href="/whctools/staff/action/{{alt.character_id}}/reject/other/{{reject_timers.medium_reject}}/acl" class="whcbutton btn btn-warning" role="button" id="remove-alt">Remove Alt</a></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% for alt in member.complete_alts %}
                            <tr class="whc-alt-row" data-parent-id="{{ member.main.character_id }}" style="display:none;">
                                <td>⤷ <img src="{{ alt.portrait_url }}" alt="{{ alt.name }}"></td>
                                <td><div class="whctools-alt-tag whctools-red-bg">NOT ON ACL</div></td>
                                <td>{{alt.name}}</td>
                                <td>{{alt.corp}}</td>
                                <td>{{alt.alliance}}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="after_date" class="panel panel-default tab-pane {% if date_selected %} active {% endif %}">
                    <form method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="{{ acl_history_request.date_of_change.id_for_label }}">Made On</label>
                            {{ acl_history_request.date_of_change }}
                            {% if acl_history_request.date_of_change.errors %}
                                <div class="text-danger">
                                    {{ acl_history_request.date_of_change.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Get History</button>
                    </form>
                {% if date_selected %}
                    <table class="table">
                        <tr>
                            <th>Time Last Changed</th>
                            <th>Portrait</th>
                            <th>Name</th>
                            <th>Last State</th>
                            <th>Reason for Change</th>
                            <th>Action To Take</th>

                        </tr>
                        {% for member in acl_changes %}
                        <tr>
                            <td> {{member.date}}
                            <td> <img src="{{ member.portrait_url }}" alt="{{ member.name }}"> </td>
                            <td> {{member.name}} </td>
                            <td> {{member.state}} </td>
                            <td> {{member.reason}} </td>
                            <td><div class="whctools-acl-change {% if member.action == 'Remove' %} whctools-red-bg {% else %} whctools-green-bg{% endif %}" > {{member.action}} </div></td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>

{% comment %} raw text of acl dump popup {% endcomment %}
<div id="copyAclListModal" class="whctools-modal">
    <div class="whctools-modal-content">
        <span class="whctools-scrollable-textbox-close">&times;</span>
        <h2>Copy {{ acl_name }} ACL List</h2>
        <div class="whctools-scrollable-textbox">
            <p>{{ raw_acl_copy_text|linebreaksbr }}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Toggle alt rows
        var mainRows = document.querySelectorAll('.whctools-main-row');
        mainRows.forEach(function(row) {
            row.addEventListener('click', function() {
                var memberId = row.getAttribute('data-member-id');
                var altRows = document.querySelectorAll('.whctools-alt-row[data-parent-id="' + memberId + '"]');
                altRows.forEach(function(altRow) {
                    if (altRow.style.display === 'none') {
                        altRow.style.display = 'table-row';
                    } else {
                        altRow.style.display = 'none';
                    }
                });
            });
        });

        // Modal functionality
        var modal = document.getElementById("copyAclListModal");
        var btn = document.getElementById("copyAclListButton");
        var span = document.getElementsByClassName("whctools-scrollable-textbox-close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    var kickAllButtons = document.querySelectorAll('#kick-all');
    kickAllButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default action (navigation)
            var confirmAction = confirm("Are you sure you want to kick all members?");
            if (confirmAction) {
                window.location.href = button.getAttribute('href'); // Proceed with the action
            }
        });
    });

    var removeAltButtons = document.querySelectorAll('#remove-alt');
        removeAltButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default action (navigation)
                var confirmAction = confirm("Are you sure you want to remove this alt?");
                if (confirmAction) {
                    window.location.href = button.getAttribute('href'); // Proceed with the action
                }
            });
        });

</script>
{% endblock %}

{% block extra_script %}
{% endblock %}
