{% extends 'whctools/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
<ul class="nav nav-tabs">
    <li class="inactive"><a href="/whctools">Apps</a></li>
    <li class="active"><a>Staff</a></li>
</ul>

<div class="tab-content">
    <div id="staff" class="whcpanel panel panel-primary tab-pane active">
        <div class="whcpanel panel-heading">
            <h3 class="panel-title">Staff Panel</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">

            {% comment %} @@@ Probably would be better to move this into individual files {% endcomment %}
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#applications">Applications</a></li>
                <li><a data-toggle="pill" href="#accepted">Accepted</a></li>
                <li><a data-toggle="pill" href="#rejected">Rejected</a></li>
                <li><a data-toggle="pill" href="#acl_admin">List ACLs</a></li>
                
              </ul>
            <div class="tab-content">
                <div id="applications" class="panel panel-default tab-pane active">
                    <table class="table">
                        <tr>
                            <th>Portrait</th>
                            <th>Character</th>
                            <th>Main</th>
                            <th>App Age</th>
                            <th>Skills Check</th>
                            <th>Action</th>
                        </tr>
                        {% for char in applied_chars %}
                        <tr class="whctools-tr">
                            <td>
                                <img src="{{ char.application.eve_character.portrait_url }}">
                            </td>
                            <td>{{char.application.eve_character.character_name}}</td>
                            <td><i>{{char.application.get_main_character.character_name}}</i></td>
                            <td>{{char.application.last_updated|timesince}}</td>
                            <td>
                                <button class="whcbutton btn btn-primary" id="openSkillcheckPopup">Check Skills</button>

                                <div class="whctools-skillcheck-popup-overlay" id="skillcheckPopupOverlay"></div>
                                <div class="whctools-skillcheck-popup" id="skillcheckPopup">
                                    <h3>Skill Set Checks for <u>{{char.application.eve_character.character_name}}</u> related characters</h3>
                                    <table class="table">
                                        <tr class="whctools-tr">
                                            <th>Character Name</th>
                                            {% for set in skillset_names %}
                                            <th> {{ set }} </th>
                                            {% endfor %}
                                        </tr>
                                        {% for alt_name, skill_sets in char.skill_sets.items %}
                                        <tr>
                                            <td>{{ alt_name }}</td>
                                            {% for skill_check in skill_sets.values %}
                                            <td style="text-align: center;"><i {% if skill_check %}class="fas fa-check" style="color: green;" {% else %}class="fas fa-times" style="color: red;" {% endif %} ></i></td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor%}
                                    </table>
                                    <button class="whcbutton btn btn-danger" id="closeSkillcheckPopup">Close</button>
                                </div>
                            </td>
                            <td>
                                <select class="acl-dropdown" data-character-id="{{ char.application.eve_character.id}}">
                                    {% for acl in existing_acls %}
                                        <option value="{{ acl.name }}">{{ acl.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="whcbutton btn btn-primary accept-button" role="button">Accept</button>
                                <a href="/whctools/staff/action/{{char.application.eve_character.id}}/reject/skills/{{reject_timers.short_reject}}" class="whcbutton btn btn-warning" role="button">Reject: Skills</a>
                                <a href="/whctools/staff/action/{{char.application.eve_character.id}}/reject/other/{{reject_timers.medium_reject}}" class="whcbutton btn btn-danger" role="button">Reject: Other</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="accepted" class="panel panel-default tab-pane">
                    <table class="table">
                        <tr>
                            <th>Portrait</th>
                            <th>Character</th>
                            <th>Main</th>
                            <th>MA link</th>
                            <th>Action</th>
                        </tr>
                        {% for char in accepted_chars %}
                        <tr class="whctools-tr">
                            <td>
                                <img src="{{ char.eve_character.portrait_url }}">
                            </td>
                            <td>{{char.eve_character.character_name}}</td>
                            <td><i>{{char.get_main_character.character_name}}</i></td>
                            <td>
                                <a href="/member-audit/character_viewer/{{char.eve_character.memberaudit_character.id}}" target="_blank" class="whcbutton btn btn-primary" role="button">Member Audit</a>
                            </td>
                            <td>
                                <a href="/whctools/staff/action/{{char.eve_character.id}}/reject/removed/{{reject_timers.large_reject}}" class="whcbutton btn btn-danger" role="button">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="rejected" class="panel panel-default tab-pane">
                    <table class="table">
                        <tr>
                            <th>Portrait</th>
                            <th>Character</th>
                            <th>Main</th>
                            <th>MA link</th>
                            <th>When</th>
                            <th>Remaining</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                        {% for char in rejected_chars %}
                        <tr class="whctools-tr">
                            <td>
                                <img src="{{ char.eve_character.portrait_url }}">
                            </td>
                            <td>{{char.eve_character.character_name}}</td>
                            <td><i>{{char.get_main_character.character_name}}</i></td>
                            <td>
                                <a href="/member-audit/character_viewer/{{char.eve_character.memberaudit_character.id}}" target="_blank" class="whcbutton btn btn-primary" role="button">Member Audit</a>
                            </td>
                            <td>
                                <p>{{char.last_updated}}</p>
                            </td>
                            <td>
                                <p>{{char.reject_timeout|timeuntil}}</p>
                            </td>
                            <td>
                                <p>{{char.get_reject_reason_display}}</p>
                            </td>
                            <td>
                                <a href="/whctools/staff/action/{{char.eve_character.id}}/reset" class="whcbutton btn btn-danger" role="button">Reset</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="acl_admin" class="panel panel-default tab-pane">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        {% for acl in existing_acls %}
                        <tr class="whctools-tr">
                            <td>
                                {{acl.name}}
                            </td>
                            <td>{{acl.description}}</td>
                            <td> <a href="/whctools/staff/action/{{acl.pk}}/view" class="whcbutton btn btn-success" role="button">View Members</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}

{% block extra_javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Function to handle Accept button click
    function handleAcceptClick(event) {
        event.preventDefault();

        // Find the corresponding dropdown and character ID
        const button = event.target;
        const row = button.closest('tr');
        const dropdown = row.querySelector('.acl-dropdown');
        const selectedAcl = dropdown.value;
        const characterId = dropdown.getAttribute('data-character-id');

        // Construct the URL
        const url = `/whctools/staff/action/${characterId}/accept/${selectedAcl}`;

        // Redirect to the constructed URL
        window.location.href = url;
    }

    // Attach event listener to all Accept buttons
    const acceptButtons = document.querySelectorAll('.accept-button');
    acceptButtons.forEach(button => {
        button.addEventListener('click', handleAcceptClick);
    });
});
document.getElementById('openSkillcheckPopup').addEventListener('click', function() {
    document.getElementById('skillcheckPopup').style.display = 'block';
    document.getElementById('skillcheckPopupOverlay').style.display = 'block';
});

document.getElementById('closeSkillcheckPopup').addEventListener('click', function() {
    document.getElementById('skillcheckPopup').style.display = 'none';
    document.getElementById('skillcheckPopupOverlay').style.display = 'none';
});

document.getElementById('skillcheckPopupOverlay').addEventListener('click', function() {
    document.getElementById('skillcheckPopup').style.display = 'none';
    document.getElementById('skillcheckPopupOverlay').style.display = 'none';
});
</script>
{% endblock %}

{% block extra_script %}
{% endblock %}

